body{
  background: yellow;
}
h1{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

.tab{
  margin: auto;
}

td{
  height: 100px;
  width:100px;
  

}
.black{
  background: black;
  border: 3px solid black;
}
.white{
  background: white;
  border: 3px solid white;
}
