<!DOCTYPE html>
{%load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{%static 'css/home1.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>CHESS BOARD</h1>
    <table class="tab">
      <tr>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
      </tr>
      <tr>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
      </tr>
      <tr>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
      </tr>
      <tr>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
      </tr>
      <tr>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
      </tr>
      <tr>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
      </tr>
      <tr>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
      </tr>
      <tr>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
        <td class="white"></td>
        <td class="black"></td>
      </tr>
      


    </table>
  </body>
</html>
