<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static 'css/home2.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <h1>TIC TAC TOE</h1>
    <table class="tab">
      <tr>
        <td></td>
        <td class="second"></td>
        <td></td>
      </tr>
      <tr>
        <td class="middle"></td>
        <td class="second middle"></td>
        <td class="middle"></td>
      </tr>
      <tr>
        <td></td>
        <td class="second"></td>
        <td></td>
      </tr>

    </table>
  </body>
</html>
