<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static 'css/home3.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <h1>GALLERY</h1>
    <img src="{%static 'images/img.png'%}" alt="">
    <img src="{%static 'images/img.png'%}" alt="">
    <img src="{%static 'images/img.png'%}" alt="">
    <img src="{%static 'images/img.png'%}" alt="">
    <img src="{%static 'images/img.png'%}" alt="">
    <img src="{%static 'images/img.png'%}" alt="">
    <img src="{%static 'images/img.png'%}" alt="">
    <img src="{%static 'images/img.png'%}" alt="">


  </body>
</html>
