<!DOCTYPE html>
{%load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static 'css/home1.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <h1>VIBGYOR Implementation</h1>
    <table class="tab">
      <tr>
        <td id="one"></td>
        <td id="Two"></td>
        <td id="three"></td>
        <td id="four"></td>
        <td id="five"></td>
        <td id="six"></td>
        <td id="seven"></td>
      </tr>

    </table>

  </body>
</html>
