<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static 'css/home4.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sanchez&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Sanchez&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <h1>ARTIFICIAL INTELLIGENCE </h1>
    <h2>Course Details</h2>
    <p>Artificial intelligence (AI) refers to the simulation of human intelligence in m
      achines that are programmed to think like humans and mimic their actions. The term may also be applied
       to any machine that exhibits traits associated with a human mind such as learning and problem-solving.The ideal characteristic of artificial intelligence is its ability to rationalize and take actions that have the best chance of achieving a specific goal. A subset of artificial intelligence is machine learning, which refers to the concept that computer programs can automatically learn from and adapt to new data without being assisted by humans. Deep learning techniques enable this automatic learning through the absorption of huge amounts of unstructured data such as text, images, or video.</p>
    <h2>Fill The Form To register</h2>
    <form class="" action="testapp/home5.html" method="post">
      <label for="uname">Name</label><br>
      <input id="uname"type="text" name="name" placeholder="Enter Name"><br>
      <label for="phno">Phone No</label><br>
      <input id="phno"type="number" name="phno" placeholder="Enter Phone Nmuber"><br>
      <label for="email">Email</label><br>
      <input id="email"type="email" name="email" placeholder="Enter Mail Id"><br>
      <label for="sub"></label><br>
      <input id="sub" type="submit" name="submit" value="submit">

    </form>



  </body>
</html>
